/* Page reset */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 390px; /* mobile width */
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

/* Container for top content */
.container {
  margin-top: 50px;
  text-align: center;
}

/* Footer */
footer {
  width: 100%;
  max-width: 390px;
  display: flex;
  justify-content: space-around; /* even spacing */
  align-items: center;
  padding: 15px 0;
  background-color: #bfc9d1;

  position: fixed;
  bottom: 0;

  /* center horizontally on wider screens */
  left: 50%;
  transform: translateX(-50%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Material Symbols icons styling */
.material-symbols-outlined {
  font-size: 28px;
  color: #25343f;
  cursor: pointer;
  transition: color 0.2s;
}

.material-symbols-outlined:hover {
  color: #0056b3;
}
