/* Reset page and center content */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;

  width: 390px;
  height: 100vh; /* take full screen height */
  background: #ffffff;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mascot {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 80px;
}
.image {
  width: 250px;
}

/* Container for the main content */
.container {
  width: 100%;
  max-width: 390px; /* phone width */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* needed for absolute button */
  padding: 20px;
  box-sizing: border-box;
}

/* Text at the top */
.container p {
  margin-top: 50px;
  font-size: 32px;
  font-weight: bold;
}

/* Button container (optional, can style button directly) */
.startbutton {
  width: 100%;
  position: absolute;
  bottom: 30px; /* distance from bottom */
  display: flex;
  justify-content: center;
}

/* Actual START button */
.start-button {
  display: block;
  width: 80%;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  background-color: #25343f;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  transition: background-color 0.3s;
  box-shadow: 0 6px 0 #7b7d7f;
}

.start-button:hover {
  background-color: #597492;
  box-shadow: 0 6px 0 #333334;
}
