body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #58cc02;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  width: 400px;
}

.progress-bar {
  background: rgba(255, 255, 255, 0.3);
  height: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#progress {
  background: #fff;
  height: 100%;
  width: 0%;
  border-radius: 10px;
  transition: width 0.3s;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: 2px solid #ddd;
  font-size: 16px;
  margin-bottom: 15px;
  box-sizing: border-box; /* ensures perfect fit */
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: #58cc02;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #4fb002;
}

#feedback {
  margin-bottom: 10px;
  font-weight: bold;
}

.correct {
  color: #58cc02;
}

.incorrect {
  color: #ff4b4b;
}

.hidden {
  display: none;
}

#finalScore {
  margin-top: 15px;
  text-align: left;
  font-size: 16px;
  color: #333;
  font-weight: normal;
  max-height: 70vh;
  overflow-y: auto;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.1);

  #homeBtn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background: #58cc02;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
  }
  #homeBtn:hover {
    background: #4fb002;
  }
}
